{% extends 'base.html.twig' %}

{% block sub_menu %}
    {% include('config/_menu.html.twig') %}
{% endblock %}

{% block body %}
    <h1> NPC Generator (Config)</h1>
    </br>
    <p>Please select subject in sub menu.</p>
{% endblock %}