{% extends 'base.html.twig' %}

{% block body %}

    <h1> NPC Generator </h1>
    </br>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <p>You are logged in.</p>
    {% else %}
    <p>You need to be logged in before anything else.</p>
    {% endif %}

{% endblock %}