<div class="col-xs-2"> {{ form_row(form) }} </div>
<div class="row col-xs-1">
    <div id={{"random_" ~ subject}} class="btn btn-warning" data-api="{{ random_route }}"><i class="fas fa-dice"></i></div>
    <div id={{"lock_" ~ subject}} class="btn btn-primary"><i class="fas fa-lock-open"></i></div>
</div>