{% set route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{{ route starts with 'default_' ? 'active' }}">
                <a href="{{ path('default_index') }}">Homeland NPC Generator</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="{{ route starts with 'config_' ? 'active' }}">
                <a href="{{ path('config_index') }}">Config</a>
            </li>
        </ul>
    </div>
</nav>